.btn {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    background: black;
    padding: 1rem 0;
    margin: 3rem auto 0;
    border: 0;
    outline: none;
    cursor: pointer;
}