.productCard {
   width: 20rem;
    margin: 0 auto 1rem;
    color: black;
}

img {
    max-width: 20rem;
    max-height: 25rem;
 
}

.right {
    text-align: right;
    top: -20px;
    position: relative;
}